.board {
    table-layout: fixed;
    width: 80vh;
    height: 80vh;
    margin: auto;
    border: solid black 5px;
}

#board {
    margin: 10vh;
}

table tr:nth-child(odd) td:nth-child(even) {
    background: black;
}

table tr:nth-child(even) td:nth-child(odd) {
    background: black;
}