.board {
    table-layout: fixed;
    width: 80vh;
    height: 80vh;
    margin: auto;
    border: solid black 5px;
}

body {
    margin: 10vh;
}

table tr:nth-child(odd) td:nth-child(even) {
    background: rgb(61, 61, 61);
}

table tr:nth-child(even) td:nth-child(odd) {
    background: rgb(61, 61, 61);
}

td {
    height: 12%;
    margin: 0;
    padding: 0;
}

/* ########################################### */

.piece {
    width: 100%;
}