table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    height: 12vh;
}

table tr:nth-child(odd) td:nth-child(even) {
    background: black;
}

table tr:nth-child(even) td:nth-child(odd) {
    background: black;
}